@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>GarbageCollectr</title>

    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../styles/styles.css" rel="stylesheet" />
</head>
<body flow-prevent-drop>

    <div data-ng-view></div>

    <script src="../../lib/angular/angular.min.js"></script>
    <script src="../../lib/angular-route/angular-route.min.js"></script>
    <script src="../../lib/jquery/dist/jquery.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../lib/ng-flow/dist/ng-flow-standalone.min.js"></script>

    <script src="../../app/app.js"></script>
    <script src="../../app/uploadFile/uploadFileController.js"></script>
    <script src="../../app/yourGarbage/yourGarbageController.js"></script>
</body>
</html>